In [1]:
import pandas as pd
# Load data
df = pd.read_csv('train.csv')
# Check for missing values
missing_values = df.isnull().sum()
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [2]:
missing_values

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [3]:
df.shape

(5847, 14)

# a) Handling Missing Values

In [4]:
missing_percentage = df.isnull().mean() * 100
missing_percentage

Unnamed: 0            0.000000
Name                  0.000000
Location              0.000000
Year                  0.000000
Kilometers_Driven     0.000000
Fuel_Type             0.000000
Transmission          0.000000
Owner_Type            0.000000
Mileage               0.034206
Engine                0.615700
Power                 0.615700
Seats                 0.649906
New_Price            86.061228
Price                 0.000000
dtype: float64

In [5]:
# Iterate over each column to handle missing values
for column in df.columns:
    if missing_percentage[column] < 5:
        if df[column].dtype in ['float64', 'int64']:  # Numerical columns
            df[column].fillna(df[column].mean(), inplace=True)
        else:  # Categorical columns
            df[column].fillna(df[column].mode()[0], inplace=True)
    else:
        df.dropna(subset=[column], inplace=True)

# Check the result
print(df.isnull().sum())

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
New_Price            0
Price                0
dtype: int64

<ipython-input-5-481b2c079c41>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)
<ipython-input-5-481b2c079c41>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)
<ipython-input-5-481b2c079c41>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

# If a column has a small percentage of missing values (e.g., less than 5%), you might choose to impute with the mean (for numerical columns) or mode (for categorical columns).

# If the percentage is higher, consider dropping those columns or rows.

# Removing the units

In [6]:
# Function to convert price from Lakh and Cr to float
def convert_price(value):
    if 'Cr' in value:
        return float(value.replace('Cr', '').replace(' ', '').strip()) * 100
    elif 'Lakh' in value:
        return float(value.replace('Lakh', '').replace(' ', '').strip())
    else:
        return float(value)


df['New_Price'] = df['New_Price'].astype(str).apply(convert_price)

In [7]:
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61,4.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21.00,17.50
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65,9.95
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01,15.00
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87,18.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77,4.00
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91,3.25
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93,7.43
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63,3.20
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88,4.75

# b) Removing Units from Attributes

In [8]:
# Clean other columns as before
df['Mileage'] = df['Mileage'].astype(str).str.replace(' kmpl| km/kg', '', regex=True).astype(float)
df['Engine'] = df['Engine'].astype(str).str.replace(' CC', '').astype(int)
df['Power'] = df['Power'].astype(str).str.replace(' bhp', '').astype(float)

# Check the results
print(df['New_Price'].head())

1      8.61
5     21.00
8     10.65
13    32.01
18    47.87
Name: New_Price, dtype: float64

In [9]:
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199,88.70,5.0,8.61,4.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755,171.50,8.0,21.00,17.50
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462,103.25,5.0,10.65,9.95
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.50,2477,175.56,7.0,32.01,15.00
18,20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69,1995,190.00,5.0,47.87,18.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57,1193,88.70,5.0,7.77,4.00
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09,1598,103.50,5.0,11.91,3.25
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.30,1248,88.50,5.0,9.93,7.43
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.50,1198,86.80,5.0,6.63,3.20
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248,74.00,5.0,7.88,4.75

# c) One-Hot Encoding Categorical Variables

In [10]:
# One-hot encoding for categorical variables
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True)
for col in df.columns:
    if df[col].dtype == 'bool':
        df[col] = df[col].astype(int)
df.rename(columns={'Fuel_Type_Electric': 'Fuel_Type_Diesel'}, inplace=True)

In [11]:
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199,88.70,5.0,8.61,4.50,0,1,1
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755,171.50,8.0,21.00,17.50,0,0,0
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56,1462,103.25,5.0,10.65,9.95,0,1,1
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.50,2477,175.56,7.0,32.01,15.00,0,0,1
18,20,BMW 3 Series 320d,Kochi,2014,32982,First,22.69,1995,190.00,5.0,47.87,18.55,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,First,17.57,1193,88.70,5.0,7.77,4.00,0,1,1
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,First,16.09,1598,103.50,5.0,11.91,3.25,0,1,1
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,First,24.30,1248,88.50,5.0,9.93,7.43,0,0,1
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,First,18.50,1198,86.80,5.0,6.63,3.20,0,1,1
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,74.00,5.0,7.88,4.75,0,0,1

#d) Creating a New Feature

In [12]:
current_year = 2024
df['Car_Age'] = current_year - df['Year']

In [13]:
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Manual,Car_Age
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199,88.70,5.0,8.61,4.50,0,1,1,13
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755,171.50,8.0,21.00,17.50,0,0,0,8
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56,1462,103.25,5.0,10.65,9.95,0,1,1,6
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,First,13.50,2477,175.56,7.0,32.01,15.00,0,0,1,10
18,20,BMW 3 Series 320d,Kochi,2014,32982,First,22.69,1995,190.00,5.0,47.87,18.55,0,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5827,5999,Tata Bolt Revotron XT,Chennai,2016,10000,First,17.57,1193,88.70,5.0,7.77,4.00,0,1,1,8
5830,6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,First,16.09,1598,103.50,5.0,11.91,3.25,0,1,1,13
5833,6005,Maruti Vitara Brezza VDi,Pune,2016,37208,First,24.30,1248,88.50,5.0,9.93,7.43,0,0,1,8
5838,6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,First,18.50,1198,86.80,5.0,6.63,3.20,0,1,1,11
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,74.00,5.0,7.88,4.75,0,0,1,10

#e) Data Manipulation Operations

In [14]:
# Select
selected_columns = df[['Name', 'Year', 'New_Price', 'Car_Age']]

# Filter
filtered_data = df[df['New_Price'] > 5]

# Rename
df.rename(columns={'Power': 'Horsepower'}, inplace=True)

# Arrange
arranged_data = df.sort_values(by='Car_Age')

In [15]:
# Summarize
yearly_summary = df.groupby('Year').agg({
    'New_Price': 'mean',
    'Car_Age': 'mean'
}).reset_index()

# Renaming
yearly_summary.rename(columns={'New_Price': 'Average_New_Price', 'Car_Age': 'Average_Car_Age'}, inplace=True)

# Print the yearly summary
print("Yearly Summary of Average New Price and Car Age:")
print(yearly_summary)

Yearly Summary of Average New Price and Car Age:
    Year  Average_New_Price  Average_Car_Age
0   2001           4.550000             23.0
1   2004          33.510000             20.0
2   2005          28.370000             19.0
3   2007           8.120000             17.0
4   2008          13.615000             16.0
5   2009          45.186667             15.0
6   2010          29.359375             14.0
7   2011          25.362174             13.0
8   2012          25.600588             12.0
9   2013          28.052326             11.0
10  2014          21.745179             10.0
11  2015          23.836324              9.0
12  2016          21.510516              8.0
13  2017          22.802465              7.0
14  2018          20.254779              6.0
15  2019          30.013103              5.0